// mixins
@mixin flex-center-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@mixin flex-center-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-center-center-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header {
    width: $w-100;
    @include flex-center-end;

    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 0 1rem;
    }

    a {
        font-size: 14px;
        color: #222;
        text-decoration: none;
        margin: 0 1rem;
        &:hover {
            text-decoration: underline;
        }
    }

    i {
        font-size: 20px;
        margin: 0 1rem;
        color: #333;
    }
}

#search__bar {
    max-width: 800px;
    @include flex-center-center-column;
    margin: 5rem auto 2rem auto;

    .search__bar__logo {
        text-align: center;
        img {
            width: 60%;
            height: $h-100;
        }
    }

    .search__bar__input {
        width: $w-100;
        border: 1px solid #2222;
        border-radius: 20px;

        i {
            color: #000;
            margin: 0 1rem;
        }

        input {
            width: 90%;
            font-family: "Open Sans", sans-serif;
            font-size: 15px;
            border: none;
            padding: 0.7rem 0;
            &:focus {
                outline: none;
            }
        }
    }
}

#search__btn {
    width: 100%;
    @include flex-center-center;
    button {
        font-family: "Open Sans", sans-serif;
        color: #000000;
        margin: 0 0.5rem;
        border: none;
        padding: 0.5rem 0.7rem;
        border-radius: 5px;
    }
}

// Responsive
@media screen and (max-width: 500px) {
    .search__bar__input {
        input {
            width: 80% !important;
        }
    }
}
