@import url("https://fonts.googleapis.com/css2?family=Fasthand&family=Open+Sans:wght@300&display=swap");

@import "./_size.scss";

@import "./_colors";

@import "./base/home.scss";

@import "./base/search.scss";

@import "./base/error.scss";

body {
    color: $text-color;
    font-family: "Open Sans", sans-serif;
}

// global class
.cursor-pointer {
    cursor: pointer;
}
